// .form_page{
//   margin: 0;
//   padding: 0;
//   font-family: 'Roboto';
//   .form_content{
//     margin: 30px auto;
//     width: 40%;
//     height: auto;
//     background-color: #b9edf6;
//     border-radius:15px ;
//     padding: 20px 50px;
//     font-family: "Roboto";
//     .title{
//       font-weight: bold;
//       text-align: center;
//       font-size: 28px;
//       padding: 10px 30px;
//     }
//     .content{
//       margin: 15px auto;
//       .content_item{
//         margin: 10px auto;
//         span{
//           font-size: 18px;
//           font-weight: 600;
//         }
//         input{
//           width: 100%;
//           border: none;
//           background-color: #ffffff;
//           padding-left: 20px;
//           border-radius: 15px;
//           height: 50px;
//         }

//       }
//     }
//     .action{
//       display: flex;
//       button{
//         justify-content: flex-end;
//         border: none;
//         margin-left: 30px;
//         padding: 20px  20px;
//         font-size: 18px;
//         background-color: #2D3748;
//         color: #ffffff;
//         border-radius: 12px;

//       }
//     }
//   }
// }
.form_page{
  width: 90%;
  margin: 0 auto;
  display: flex;
  background-color: aliceblue;
  .left{
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    height: 50vh;
    padding: 50px 10px;
    .left_img{
      width: 100%;
      height: 70%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .left_input{
      padding: 20px 60px;
      input{
        width: 90%;
        margin: 20px auto;
        border: none;
        background-color: #ffffff;
        padding: 5px 20px;
        border-radius: 10px;
        color: #141313;
        height: 60px;
      }
    
    }
  }
  .right{
    width: 50%;
    height: auto;
    .content_info{
      width: 100%;
      display: flex;
      .content_info_left{
        width: 50%;
        padding: 10px 20px;
          .content_item{
                    margin: 20px auto;
                    span{
                      font-size: 18px;
                      font-weight: 600;
                    }
                    input{
                      width: 80%;
                      border: none;
                      background-color: #ffffff;
                      padding-left: 20px;
                      border-radius: 15px;
                      height: 50px;
                    }
                  }

      }
      .content_info_right{
        padding: 10px 20px;
        width: 50%;
        .content_item{
          margin: 20px auto;
          span{
            font-size: 18px;
            font-weight: 600;
          }
          input{
            width: 80%;
            border: none;
            background-color: #ffffff;
            padding-left: 20px;
            border-radius: 15px;
            height: 50px;
          }
        }
      }

    }
    .action_create{
      display: flex;
      button{
        margin: 40px auto;
        border: none;
        background-color: rgb(87, 228, 87);
        color: #333333;
        padding:20px 40px ;
        font-size: 18px;
        margin-left: 20px;
        border-radius: 8px
      }
     
    }
    
  }
}