@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.list_product{
    font-family: 'Open Sans', sans-serif;
    padding: 28px 23px;
    .action_create{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-bottom: 29px;
        padding: 20px 100px;
        button{
            width: 146px;
            height: 35px;
          
         
            padding-top: 10px;
            padding-bottom: 14px;
            padding-left: 8px;
            padding-right: 8px;
            background: #FFFFFF;
            box-shadow: 0px 1px 4px #DADADA;
            border-radius: 5px;
        }
    }
    .list_table{
        .table{
            width: 1599px;
            height: 600px;
            box-shadow: 1px 2px 2px #333;
            .table_head{
                height: 65px;
                background-color:rgba(243, 242, 247, 0.9);
                tr{
                   
                    border: none;
                    th{
                        padding: 24px 48px;
                        font-weight: 600;
                        font-size: 14px;
                        
                    }
                }
            }
            .table_body{
                tr{
                    border:1px solid #C5C5C5;
                    height: 52px;
                    th{
                        padding: 16px 58px ;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    td{
                        button{
                            background-color: #0F56B3;
                            padding: 4px 8px;
                            border-radius: 10px;
                            margin-left:5px;
                            color: #ffffff;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
      
    }
    .list_btn{
        display: flex;
        margin-top: 23px;
        padding: 23px 38px;
        line-height: 2;
      
        .list_btn_left{
           width: 50%;
           display: flex;
           flex-wrap: wrap;
           flex-direction: row-reverse;
            ul{
                list-style: none;
                display: flex;  
             
               
                li{
                    margin-left: 20px;
                    button{
                        padding: 10px 10px;
                        border-radius: 5px;
                        color: #333333;
                        border: none;
                        font-size: 15px;
                        text-align: center;
                        background-color: none;
                    }
                }
            }
        }
        .list_btn_right{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            width: 50%;
            align-items: flex-end;
            padding: 10px 80px;
        }
       
    }

}
.style_font_yellow{
    color: #FAA831;
}
.style_font_blue{
    color: #0F56B3;
}
.style_Background{
    background-color: rgba(194, 201, 209, 0.2);
}
.action_button{
    display: flex;
}